
<%= form_with model: user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
          <div class="error_msg"><%= message %></div><br>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
          <div class="error_msg"><%= message %></div><br>
    <% end %>
  </div>

  <div>
    <%= form.label :user_name %><br>
    <%= form.text_field :user_name %>
    <% @user.errors.full_messages_for(:user_name).each do |message| %>
          <div class="error_msg"><%= message %></div><br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
