<h1>Users</h1>


<div>

  <div id="user_list">
    <ul>
      <% @users.each do |user| %>
      <li>
        <h2><a href='/users/<%= user.id %>' ><%= user.user_name %></a></h2>
        <%= user.name %>
        <%= user.email %>
        <a href='/delete-user/<%= user.id %>'>Delete User</a>

        <div class="user_posts">
          <%
            user_post = user.post
            user_post.each do |post|%>
            <div>
              <h3><%= post.title %></h3>
              <p><%= post.body %></p>
            </div>
            <div class="user_comments">
              <%
                post_comment = post.comment
                post_comment.each do |comment|%>

                <div class="comment">
                  <div><%= comment.user.user_name %></div>
                  <div>
                    <%= comment.body %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

</div>
